<div class="container">
    <form method="POST" action="/valida-cadastro" class="formulario cadastro">
        <input type="text" name="usuario" placeholder="Usuario"><p>
        <input type="text" name="senha" placeholder="Senha"><p>
        <input type="text" name="nome" placeholder="Nome"><p>
        <input type="text" name="cargo" placeholder="Cargo"><p>
        <button type="submit" class="alt">Inserir</button>
    </form>
</div>