<div id="slide" class="slide">
    <div class="slideshow-container">
        <div class="mySlides fade-slide-show slide-3" style="display: none;">
            <div class="mySlides-content">
                <div class="row">
                    <div class="col col-1-2">
                        <div class="carrousel-content-item-cta">
                            <h1>Nosso Foco é a Sua Saúde</h1>
                            <p>Realize consultas e orientações de onde estiver, de forma completamente integrada ao seu
                                prontuário e garanta mais segurança para você e o seu paciente. </p>
                        </div>
                    </div>
                    <div class="col col-1-2">
                        <div class="carrousel-content-item-grafico grafico-before">
                            <img rel="preload" as="image" alt="clinica" src="imagens/imagem_banner3.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="home-servicos">
    <div class="container">
        <p data-aos="fade-up" data-aos-duration="600" class="center text-high aos-init">
            <span class="text-lg">
                <b>Nossos Serviços</b>, otimizam a performance da sua instituição e promovem a entrega de <b>serviços de
                    saúde com mais qualidade.</b>
            </span>
        </p>

        <div class="servicos-content">
            <ul class="servicos-content-item">
                <li>
                    <span><img src="imagens/servico1.png" alt="servico1"></span>
                    <span>Exames de Coração</span>
                </li>
                <li>
                    <span><img src="imagens/servico2.png" alt="servico2"></span>
                    <span>Avaliação com Dentista</span>
                </li>
                <li>
                    <span><img src="imagens/servico3.png" alt="servico4"></span>
                    <span>Exame de Imagem</span>
                </li>
                <li>
                    <span><img src="imagens/servico4.png" alt="servico4"></span>
                    <span>Médicos especialistas</span>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="home-precisa-de-um-orcamento">
    <div class="container pad-lg pad-lg-m">
        <p data-aos="fade-up" class="center text-high aos-init"><span class="text-xlg white">LIGUE E AGENDE A SUA
                CONSULTA</span></p>
        <p data-aos="fade-up" class="center text-high aos-init"><span class="text-xlg white"><b>(61)3333-4444</b></span>
        </p>
    </div>
</section>





<section id="home-quem-somos">
    <div class="container">
        <div class="row">
            <div class="col col-center-80">
                <h2 data-aos="fade-up" data-aos-duration="600" class="aos-init">Sobre Nós</h2>
                <p data-aos="fade-up" data-aos-duration="900" class="pad-top-md aos-init">
                    Criada em 1988, a <b>Clinica X</b> é 100% nacional, sendo uma das maiores empresas de tecnologia
                    para a
                    Saúde do país. Temos como propósito, o desenvolvimento do setor saúde através da tecnologia e
                    inovação...
                </p>
            </div>
        </div>
    </div>
</section>