<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="author" content="X">
    <meta name="theme-color" content="#00b8b4">
    <title>{{titulo}}</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/styleLogin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="theme-color" content="#4DBA87">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="main">
</head>


<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
    
    <section id="home-servicos">
        <div class="container">
            <div class="bloco-form">
                <p data-aos="fade-up" data-aos-duration="600" class="">
                    <span class="text-sm">Acessar Portal</span>
                </p>
                <form method="POST" action="/valida-login">
                    <input type="text" name="usuario" placeholder="Usuario" required>
                    <p>
                        <input type="password" name="senha" placeholder="Senha" required>
                    <p>
                        <button type="input" class="button-entrar">ENTRAR</button>
                </form>
                <a href="/" class="voltar">Voltar para o Inicio</a><p>
                {{msg}}
            </div>
    
            
        </div>
    </section>
</body>

</html>