<div class="container-portal fundo-portal">
    <object class="pdfstyle" data="pdfs/{{pdf}}.pdf" type="application/pdf">
        <p>Seu navegador não tem um plugin pra PDF</p>
    </object>
</div>




